*{
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


h1, h2, h3, h4, .h1, .h2, .h3, .h4, .btn-custom, .nav-link, .number{
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --red: rgb(214, 0, 25);
    --c-black: rgb(10, 0, 0);
    --burgundy: rgb(70, 1, 4);
    --dark-burgundy: rgb(39, 0, 1);
    --green: rgb(93, 96, 65);
    --pink-gray: rgb(135, 107, 104);
    --white: rgb(242, 244, 247);
    --offwhite: rgb(172, 173, 178);
    --darkgreen: #1f201a;
}

body{
    background-color: var(--darkgreen);
}

.bg-burgundy{
    background-color: var(--burgundy);
}

.bg-red{
    background-color: var(--red);
}

.bg-black{
    background-color: var(--c-black);
}


.bg-d-burgundy{
    background-color: var(--dark-burgundy);
}

.bg-green{
    background-color: var(--green);
}

.text-dburgundy{
    color: var(--dark-burgundy)
}

.text-red{
    color: var(--red);
}


.text-white{
    color: var(--white);
}

.text-dgreen{
    color: var(--darkgreen);
}

.text-black{
    color: var(--c-black);
}

.header{
    background-image: linear-gradient(transparent,rgba(31, 32, 26,0.5)), url(./media/foresta.jpeg);
    /* background-image: url(./media/foresta.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-custom{
    background-color: transparent;
    border: 1px solid var(--green);
    box-shadow: 2px 2px 5px var(--green);
    color: var(--red);
    border-radius: 50px;
    margin: 10px 15px ;
    padding: 5px 20px;
    transition: 0.5s;
}

.btn-custom:hover{
    background-color: var(--red);
    color: var(--green);
    transform: scale(1.2);
    font-weight: bolder;
    box-shadow: 2px 2px 5px var(--green);
}

.bg-riflesso{
    background-image: linear-gradient(transparent,rgba(31, 32, 26,0.5)), url(./media/foresta.jpeg);
    display: block;
    height: 100vh;
    rotate: 180deg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */

nav{
    height: 55px;
}

.nav-link{
    color: var(--white);
    transition: 0.5s;
}

.nav-linkCustom{
    letter-spacing: 4px;
    text-shadow:2px 2px 5px var(--c-black), -2px -2px 5px var(--c-black) ;
}

.nav-linkCustom:hover{
    text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);
    color: var(--beige);
}

.logo{
    transition: 0.5s;
}

.nav-link:hover{
    color: var(--red);
    text-shadow: 2px 2px 5px var(--white), -2px -2px 5px var(--white);
    font-weight: bolder;
}

.navCustom{
    background: linear-gradient(90deg, var(--c-black), var(--darkgreen), var(--c-black));
    transition: 0.5s;
}

.rotate{
    rotate: -180deg;
}

/* Positioned */
.icon{
    margin-top: 15px;
    transition: 0.5s;
}

.positioned{
    position: relative;
    top: 370px;
}

.col-custom{
    background: linear-gradient(var(--green),transparent);
    padding-bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--darkgreen);
}

.col-custom:hover{
    background: linear-gradient(var(--green),var(--dark-burgundy),var(--c-black));
    color: var(--red);
}


/* Numeri incrementali */
.number{
    font-size: 50px;
    font-weight: 900px;
    color: var(--red);
}

.img-custom{
    border-radius: 50%;
    height: 80%;
}

/* Swiper */
.swiper{
    height: 400px;
    width: 600px;
}
.card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--c-black);
    border-radius: 20px;
    background-color: var(--green);
    color: var(--c-black);
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
.footer{
    height: 30px;
    background-color: var(--green);
    color: var(--darkgreen);
    margin-bottom: 0px;
}

/* PAGINA ANNUNCI */

.accordion-item{
    background-color: var(--pink-gray);
    color: var(--c-black);
}

.accordion-button{
    background-color: var(--c-black);
    color: var(--white);
}

.accordion-button:not(.collapsed){
    color: var(--white);
    background-color: var(--c-black);
}

.accordion-button:focus{
    box-shadow: none;
}

.card-custom{
    height: 450px;
    width: 30%;
    border: 2px solid var(--pink-gray);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white);
    margin-bottom: 20px;
}

.img-card{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


/* Chi siamo */
.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px dotted var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.vh-75{
    height: 75vh;
}

.opener{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--red);
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
}

.moved{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid var(--red);
    background-color: var(--dark-burgundy);
    position: absolute;
    z-index: 2;
    transition: 0.5s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.flipCard{
    height: 400px;
    width: 300px;
}

.flipCard:hover > .inner{
    transform: rotateY(180deg);
}

.inner{
    height: 100%;
    width: 100%;
    border: 2px dotted var(--red);
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.innerFace{
    height: 400px;
    width: 300px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    backface-visibility: hidden;
}

.innerBack{
    height: 400px;
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
    padding: 15px;
}



@media screen and (max-width: 700px){
    .positioned{
        position: fixed;
        top: -900px;
    }
    .col-custom{
        background-color: var(--green);
    }
    .bg-riflesso{
        margin: 0px;
        padding: 0px;
    }

    .nav-link{
        margin-left: auto;
        margin-right: auto;
    }

    .moon{
        display: none;
    }


}
