*{
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


h1, h2, h3, h4, .h1, .h2, .h3, .h4, .btn-custom, .nav-link{
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --red: rgb(214, 0, 25);
    --red2: rgb(159, 0, 28);
    --black: rgb(10, 0, 0);
    --burgundy: rgb(70, 1, 4);
    --dark-burgundy: rgb(39, 0, 1);
    --green: rgb(93, 96, 65);
    --beige: rgb(123, 99, 71);
    --pink-gray: rgb(135, 107, 104);
    --pink: rgb(110, 54, 65);
    --white: rgb(242, 244, 247);
    --offwhite: rgb(172, 173, 178);
    --darkgreen: #1f201a;
}

.bg-red{
    background-color: var(--red);
}

.bg-black{
    background-color: var(--black);
}

.bg-red2{
    background-color: var(--red2);
}

.bg-beige{
    background-color: var(--beige);
}

.bg-green{
    background-color: var(--green);
}

.text-dburgundy{
    color: var(--dark-burgundy)
}

.text-red{
    color: var(--red);
}

.text-red2{
    color: var(--red2);
}

.text-white{
    color: var(--white);
}

.text-dgreen{
    color: var(--darkgreen);
}

.text-black{
    color: var(--black);
}

.header{
    background-image: linear-gradient(transparent,rgba(31, 32, 26,0.5)), url(./media/foresta.jpeg);
    /* background-image: url(./media/foresta.jpeg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-custom{
    background-color: transparent;
    border: 1px solid var(--green);
    box-shadow: 2px 2px 5px var(--green);
    color: var(--red);
    border-radius: 50px;
    margin: 10px 15px ;
    padding: 5px 20px;
    transition: 0.5s;
}

.btn-custom:hover{
    background-color: var(--red);
    color: var(--green);
    transform: scale(1.2);
    font-weight: bolder;
    box-shadow: 2px 2px 5px var(--green);
}

.bg-riflesso{
    background-image: linear-gradient(transparent,rgba(31, 32, 26,0.5)), url(./media/foresta.jpeg);
    display: block;
    height: 100vh;
    rotate: 180deg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */

nav{
    height: 60px;
}

.nav-link{
    color: var(--white);
    transition: 0.5s;
}

.nav-linkCustom{
    letter-spacing: 4px;
    text-shadow:2px 2px 5px var(--black), -2px -2px 5px var(--black) ;
}

.nav-linkCustom:hover{
    text-shadow: 2px 2px 5px var(--red), -2px -2px 5px var(--red);
    color: var(--beige);
}

.logo{
    transition: 0.5s;
}



.nav-link:hover{
    color: var(--red);
    text-shadow: 2px 2px 5px var(--white), -2px -2px 5px var(--white);
    font-weight: bolder;
}

.navCustom{
    background: linear-gradient(90deg, var(--black), var(--darkgreen), var(--black));
    transition: 0.5s;
}

.rotate{
    rotate: -180deg;
}


/* Positioned */
.icon{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    transition: 0.5s;
}


.positioned{
    position: relative;
    top: 370px;
}

.col-custom{
    background: linear-gradient(var(--green),transparent);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--darkgreen);
}

.col-custom:hover{
    background: linear-gradient(var(--darkgreen),var(--black));
    color: var(--red);
}






@media screen and (max-width: 600px){
    .positioned{
        position: fixed;
        top: -900px;
    }
    .col-custom{
        background-color: var(--green);
    }
    .bg-riflesso{
        margin: 0px;
        padding: 0px;
    }

    .nav-link{
        background-color: var(--green);
        margin-left: auto;
        margin-right: auto;
    }

    body{
        background-color: #1f201a;
    }

}
